.profile__image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 1059px) {
  .profile__image {
  	height: 240px;
    width: 240px;
  }
}

@media screen and (max-width: 380px) {
  .profile__image {
  	height: 120px;
    width: 120px;
  }
}